---
permalink: /index.html
title: "N's website"
description: "N's website"
layout: 'home'
---

<section class="full | wrapper cover-image cover-image-books">
    <div class="section__inner region">
        <h2>
            <a href="/stories">
                Stories
            </a>
        </h2>
    </div>
</section>