---
title: The Firework Maker's Daughter
permalink: /stories/firework-makers-daughter.html
description: "The Firework Maker's Daughter by Phillip Pullman. Read by N, aged 8"
layout: page
---

{% audio "01-firework-makers-daughter.m4a",  "Chapter 1" %}
{% audio "02-firework-makers-daughter.m4a",  "Chapter 2" %}
{% audio "03a-firework-makers-daughter.m4a",  "Chapter 3, part 1" %}
{% audio "03b-firework-makers-daughter.m4a",  "Chapter 3, part 2" %} 