---
title: Stories
permalink: /stories/index.html
description: "Stories read by N, aged 8"
layout: page
---

<section class="full | wrapper cover-image cover-fireworks">
    <div class="section__inner region">
        <h2 style="margin-bottom: 2rem">
            <a href="/stories/firework-makers-daughter.html">
                The Firework Maker's Daughter
            </a>
        </h2>
    </div>
</section>