---
title: Picture books and poems
permalink: /stories/picture-books-and-poems.html
description: "The Firework Maker's Daughter by Phillip Pullman. Read by N, aged 8"
layout: page
---

<h2>Poems for the Very Young</h2>
<h3>Selected by Michael Rosen, Illustrated by Bob Graham</h3>
{% image "./src/assets/images/stories/poems.jpg", "Grandpa holding Poems for the
Very Young" %} {% audio "poems.m4a", "Grandpa reading the first few pages" %} {%
image "./src/assets/images/stories/man-fat.jpg", "Nell showing the poem Man Fat"
%}{% audio "man-fat.m4a", "Nell reading the poem Man Fat" %} {% image
"./src/assets/images/stories/happy-birthday.jpg", "Nell showing Happy Birthday"
%}{% audio "happy-birthday.m4a", "Nell reading Happy Birthday" %}{% image
"./src/assets/images/stories/whale.jpg", "Nell showing the poem If you ever,
ever, ever, ever" %}{% audio "whale.m4a", "Nell reading the poem If you ever,
ever, ever, ever" %}

<h2>Other stories</h2>
<h3>Zog</h3>
{% image "./src/assets/images/stories/zog.jpg", "Grandpa holding the book Zog"
%}{% audio "zog.m4a", "Grandpa reading the book Zog" %}

<h3>Handa's Surprise</h3>
{% image "./src/assets/images/stories/handas-surprise.jpg", "Grandpa holding the
book Handa's Surprise" %}{% audio "handas-surprise.m4a", "Grandpa reading the
book Handa's Surprise" %}
